ul{
    display: flex;
    padding: 10px;
}

li{
    padding: 10px;
    list-style:none;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: slategray;
    padding: 10px;
}
nav{
    background-color: blanchedalmond;
    padding: 10px;
}
#home{
    margin-right: auto;
}


@media only screen and (max-width: 768px) {
    ul{
        flex-direction: column;
    }
}