ul{
    display: flex;
    padding: 10px;
}

li{
    padding: 10px;
    list-style:none;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: slategray;
    padding: 10px;
}
nav{
    background-color: blanchedalmond;
    padding: 10px;
}
#home{
    margin-right: auto;
}

.dropdown-menu{
    position: absolute;
    width: 100%;
    background-color: slategray;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding-left: 0;
    border: 2px solid grey;
    border-radius: 5px;
    opacity: 0;
    transition: .05s;
}

.dropdown:hover .dropdown-menu{
    opacity: 1;
}

.dropdown h3:hover{
    cursor: pointer;
}

h3{
    margin: -2px;
    font-weight: 300;
}



@media only screen and (max-width: 768px) {
    ul{
        flex-direction: column;
    }
}
