
.site-hero{
    display: flex;
    background-image: url(../assets/branding/fox.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* margin-bottom: 100px; */
    box-shadow: 10px 5px 5px 
    #e1a177;
    justify-content: center;
    align-items: center;
}
.hero-text{
    font-family: montserrat;
    font-style: italic;
    color: 
    #e1a177;
    text-align: center;
    text-shadow: 1px 1px 1px #e1a177;
}
.hero-text h2{
    font-size: 4.5em;
}
.hero-text h4{
    font-size: 2em;
}
.hero-text h5{
    font-size: 1em;
    color: #39402F;
    text-shadow: none;
}
button{
    box-shadow: 10px 5px 5px #e1a177;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #39402F;
    border-radius: 5px;
    background-color: #e1a177(220, 0, 0, 1);
}
button:hover{
    background-color: #e1a177;
}

.grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}
img{
    width: 100%;
    box-shadow: 6px 1px 10px 
    #e1a177;

}
