#body{
    background-color: lightblue;
    padding: 20px;
}
header{
    text-align: center;
}
#login{
    text-align: center;
}
#mn{
    text-align: center;
    margin-left: -150px;
}
#m{
    text-align: center;
    margin-left: -130px;
}
#b{
    text-align: center;
    margin-left: -238px;
}
#g{
    text-align: center;
    margin-left: -240px;
}
#sex{
    margin-left: -60px;
}
